.Colleges-in-North-India {
  width: max-content;
  height: 18px;
  font-family: DINPro;
  font-size: 18.5px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 0.97;
  letter-spacing: normal;
  text-align: left;
  color: #444444;
  margin: 0px !important;
  padding-top: 49px;
  padding-left: 89px;
  padding-bottom: 68.7px;
}

.match {
  color: #37b396;
  font-size: 14px;
}

.ratingBox {
  background-color: #f5a626;
  border-radius: 3.8px;
  padding: 8px;
}

.emptyDiv {
  height: 173px;

  margin-left: 545px;
  margin-right: 15px;
}

.college-card {
  text-align: center;
  width: 639px;
  height: 377px;
  border-radius: 3.8px;
  box-shadow: 0 0 19px 0 rgba(68, 68, 68, 0.1);
  border: solid 0.2px #444444;
  background-color: #ffffff;
}

.leftPadding {
  padding-left: 85px;
}

.college-image {
  width: 637.3px;
  height: 233.2px;
}

.bottom-card-padding {
  padding-bottom: 74.7px;
}

.collegeName {
  width: 260px;
  height: 17px;
  font-family: "DINPro-Medium";
  font-size: 15px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 0.97;
  letter-spacing: normal;
  text-align: center;
  color: #444444;
  padding-left: 17px;
  padding-top: 20px !important;
  width: max-content;
  padding-top: 10px;
  text-align: left;
  padding-left: 0px;
}

.clgNameSpan {
  font-size: 16px;
  padding-left: 20px;
}

.discountClass {
  color: white;
  padding-left: 13px;
  font-size: 12px;
}

.nearestPlace1 {
  padding-left: 20px;
  margin-bottom: 0px;
  margin-top: 4px;
}

.nearestPlace2 {
  padding-left: 5px;
  font-size: 15px;
  padding-right: 5px;
}

.original-fees {
  color: #444444;
  text-decoration: line-through;
  padding-left: 168px;
  font-size: 13px;
}

.discountedFees {
  padding-left: 93px;
  color: red;
  font-size: 28px;
}

.commaSpan {
  color: #37b396;
  font-size: 14px;
  padding-left: 2px;
  padding-right: 2px;
  font-size: 14px;
}

.amenities0 {
  color: #37b396;
  padding-left: 78px;
  font-size: 14px;
  font-weight: bold;
}

.amenities1 {
  padding-left: 3px;
  color: #37b396;
  padding-right: 3px;
  font-size: 20px;
}

.feesCycle {
  font-size: 12px;
  color: silver;
  display: block;
  padding-left: 470px;
}

.checked {
  color: rgb(0, 0, 0);
}

.un-checked {
  color: gainsboro;
}

.background-color {
  background-color: #7ef7da79;
  padding-top: 10px;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
  padding-bottom: 10px;
}

.image1 {
  background-repeat: no-repeat;
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url("..\assets\college_01.jpg");
  width: 640px;
  height: 233.2px;
  background-size: cover;
}

.logo1 {
  position: absolute;
  top: -36px;
  left: 538px;
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 9px;
  padding-top: 9px;
  background-color: #68a7ff;
  font-family: "DINPro-Medium";
  font-size: 16px;
  font-weight: 500;
  color: #ffffff;
  background: url("../assets/uselogo.png");
  background-size: cover;
  width: 118px;
  height: 56px;
  text-align: initial;
}

.myimage {
  background: url("..\assets\logo2.png");
  background-size: cover;
  width: 38px;
  height: 15px;
  padding: 0px;
  display: inline-block;
}

.image2 {
  background-repeat: no-repeat;
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url("..\assets\college_02.jpg");
  width: 640px;
  height: 233.2px;
  background-size: cover;
}

.bestCollege {
  background-color: white;
  width: max-content;
  padding-top: 7px;
  padding-bottom: 7px;
  padding-left: 10px;
  padding-right: 10px;
  height: 34px;
  border-radius: 16.5px;
  margin: 6px;
  width: 100px;
  height: 13px;
  font-family: "DINPro-Medium";
  font-size: 13.5px;
  font-weight: 500;
  text-align: left;
  color: #444444;
}

.ranking {
  color: white;
  width: max-content;
  padding: 6px;
  border-radius: 16.5px;
  margin: 6px;
  height: 13px;
  font-family: "DINPro-Medium";
  font-size: 14px;
  letter-spacing: normal;
  text-align: left;
  padding-left: 167px;
}

.outoffive {
  color: white;
  font-size: 19px;
  font-weight: bolder;
  font-family: "DINPro-Medium";
}

.five {
  color: white;
  font-size: 14px;
  font-weight: bold;
  font-family: "DINPro-Medium";
}

.veryGood {
  color: white;
  font-size: 14px;
  font-weight: bold;
  width: max-content;
  font-family: "DINPro-Medium";
}
