<h3 class="Colleges-in-North-India">Colleges in North India</h3>

<table style="width: 100%;">
  <tr
    *ngFor="
      let number of [
        0,
        2,
        4,
        6,
        8,
        10,
        12,
        14,
        16,
        18,
        20,
        22,
        24,
        26,
        28,
        30,
        32,
        34,
        36,
        38,
        40,
        42,
        44,
        46,
        48
      ]
    "
  >
    <td class="leftPadding bottom-card-padding">
      <div class="college-card">
        <img src="..\assets\college_01.jpg" class="college-image" />
        <div class="collegeName">{{ collegeData[number].college_name }}</div>
      </div>
    </td>
    <td class="bottom-card-padding">
      <div class="college-card">
        <img src="..\assets\college_02.jpg" class="college-image" />
        <div class="collegeName">
          {{ collegeData[number + 1].college_name }}
        </div>
      </div>
    </td>
  </tr>
</table>
